grid_map_topic: /grid_map_simple_demo/grid_map
grid_map_visualizations:
  - name: elevation_points
    type: point_cloud
    params:
     layer: elevation
  - name: elevation_grid
    type: occupancy_grid
    params:
     layer: elevation
     data_min: 0.08
     data_max: -0.16


point_cloud_topic: "/zed/point_cloud/cloud_registered"
robot_pose_with_covariance_topic: "/pose"
robot_pose_cache_size: 500
map_frame_id: "map"
source_frame_id: "zed_center"
robot_base_frame_id: "base_link"
track_point_frame_id: "map"
track_point_x: 0.0
track_point_y: 0.0
track_point_z: 0.0
